.gameCreateContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25rem;
    padding: 1rem;
    box-shadow: 2px 2px 8px 0px rgba(black, 0.3);
    form{
        input{
            border-style: none;
            outline: none;
            border-bottom: 1px solid black;
            width: 100%;
            height: 1rem;
            margin-bottom: 1rem;
        }
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 10rem;
        margin: 5rem;
        button{
            margin-top: 1rem;
        }
    }
}
